.myPage{
    height: 100vh;
}

.myPage_container{
    padding: 100px 5rem;
    justify-content: center;
}
.myPage_info{
    display: flex;
}

.myPage_info >.css-2s90m6-MuiAvatar-root{
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-bottom: 20px;
}

.myPage_info > hr{
    margin-top: 50px;
    margin-bottom: 10px;
}

.myPage_posts{
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
}