.CategoryMenu{
    overflow: hidden;
    box-shadow: 0 2px 20px #d0d0d0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    padding: 0 3rem;
}

.category_img{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    height: 10rem;
    object-fit: contain;
}

.category_title{
    padding: 0 1rem;
    text-align: center;
}

.category_description{
    padding: 0 1rem;
}

.CategoryMenu:hover{
    transform: scale(1.02);
 }