.register{
    height: 100%;
    padding-bottom: 100px;
}

.register_container{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

/*margin: auto로 좌우 대칭을 맞춰줌*/
.register_ftm_logo {
    margin-top: 100px;
    object-fit: fill;
    width: 250px;
}

.register_container >form{
    width: 60%;
}

.register_container > form > h5 {
    margin-bottom: 5px;
}

.register_container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.register_container > form > .register_divide {
    margin-bottom: 70px;
}

.register_signUpButton {
    background: var(--color-main);
    border-radius: 5px;
    width: 100%;
    height: 45px;
    border: 1px solid;
    margin-top: 30px;
    border-color: var(--color-main);
    margin-bottom: 100px;
}