.PostPreview{
    padding: 1rem;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.postPreview_img{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
}

.postPreview_title{
}

.PostPreview:hover{
    transform: scale(1.02);
}